@model PeopleViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>People</h1>


<div id="tempPost">
    <h3>Create new person</h3>

    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label>Name</label>
                <input asp-for="CreatePersonViewModel.Name" />
                <span asp-validation-for="CreatePersonViewModel.Name"></span>
            </div>
            <div>
                <label>Choose City</label>
                <select asp-for="CreatePersonViewModel.CityId" asp-items="ViewBag.CityId"></select>
            </div>

            <div>
                <label>Phone Number</label>
                <input asp-for="CreatePersonViewModel.PhoneNumber" />
                <span asp-validation-for="CreatePersonViewModel.PhoneNumber"></span>
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>


<div id="trusted">
    <h3>List of people</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone Number</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Edit</th>
                <th>Delete</th>
            }
            </tr>

        <tbody>
            @foreach (var person in Model.People)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => person.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.City.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => person.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@person.Id">Edit</a>
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@person.Id">Delete</a>
                    </td>
                }
            </tr>
            }
        </tbody>

    </table>
</div>

